apiVersion: v1
kind: Service
metadata:
  name: demo-svc
spec:
  selector:
    app: demo
  ports:
    - port: 80
      targetPort: 80
---
apiVersion: v1
kind: Service
metadata:
  name: demo-svc-preview
spec:
  selector:
    app: demo
  ports:
    - port: 80
      targetPort: 80
